- page_title = title("#{t('.statutory_instrument').capitalize.pluralize}")

.section--primary#content{ tabindex: "0" }
  .container
    %h1= page_title

    %p= t('.si_intro_a')
    %p= t('.si_intro_b')

%section
  .container
    %h2= t('.find_an_si').capitalize

    %ol.list--block
      %li
        .list--details
          %h3= link_to(t('.all_statutory_instruments').capitalize, work_packages_path)
      %li
        .list--details
          %h3= link_to("#{t('.draft').capitalize} #{t('.affirmative')} #{t('.statutory_instrument').pluralize}", procedures_path('H5YJQsK2'))
      %li
        .list--details
          %h3= link_to("#{t('.draft').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedures_path('gTgidlJl'))
      %li
        .list--details
          %h3= link_to("#{t('.made').capitalize} #{t('.affirmative')} #{t('.statutory_instrument').pluralize}", procedures_path('iWugpxMn'))
      %li
        .list--details
          %h3= link_to("#{t('.made').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedures_path('5S6p4YsP'))

%section
  .container
    %h2= t('.more_info').capitalize

    %ol.list--block
      %li
        .list--details
          %h3= link_to(t('.ukp_sis_link').capitalize, 'https://www.parliament.uk/about/how/laws/delegated/').html_safe
          %p= t('.ukp_sis_description')
      %li
        .list--details
          %h3= link_to(t('.gtp_sis_link'), collection_path('lA7IUL12'))
          %p= t('.gtp_sis_description')
