- content_for :title do
  No Results - Search

.section--primary
  .container
    %h1
      = t('search.results.title')
      %span.sr-only &ldquo;#{@query_parameter}&rdquo;

    = render partial: 'search_box'

%section#content{:tabindex => "0"}
  .container
    = render partial: 'status_old_search'
    = render partial: 'status_no_results'
