- content_for :title do
  #{@query_parameter} - Search

.section--primary
  .container
    %h1
      = t('search.results.title')
      %span.sr-only &ldquo;#{@query_parameter}&rdquo;

    = render partial: 'search_box'

    %p= "About #{@results_total} results"

- if @results_total.to_i >= 1
  %section#content
    .container
      = render partial: 'status_old_search'
      %ol.list--block
        - @results.entries.each_with_index do |entry, index|
          %li
            .list--details
              %h2= link_to(entry.title, entry.url, onclick: "appInsights.trackPageView(\"search/virtual/result/#{start_index(current_page)+index}\"); return true;")
              =#%p.search-result-url=entry.url
              - if entry.content
                %p= entry.content

%section
  .container
    - if @results_total.to_i >= 1
      %nav.navigation--number{ aria:{ label: 'Pagination' } }
        - unless current_page == 1
          %a.navigation-control--left{ href: "/search?q=#{@query_parameter}&start_index=#{start_index(previous_page)}&count=#{@count}" }
            =t('pagination.previous')

        - unless current_page == last_page
          %a.navigation-control--right{ href: "/search?q=#{@query_parameter}&start_index=#{start_index(next_page)}&count=#{@count}" }
            =t('pagination.next')

        %ol
          - page_range.each do |page|
            %li{ class: ('active' if (page == current_page)), data: { number: page } }
              - unless page == current_page
                %a{ href: "/search?q=#{@query_parameter}&start_index=#{start_index(page)}&count=#{@count}" }= page
              - else
                %span= current_page
    - else
      = render partial: 'status_old_search'
      = render partial: 'status_no_results'
