- page_title = title("#{t('.find_an_si').capitalize}")

.section--primary#content{ tabindex: "0" }
  .container
    %h1
      %span= page_title

    %p= t('.find_an_si_intro')
    %p= link_to(t('.all_current_si_link').capitalize, work_packages_paper_type_current_path('statutory-instruments'))

%section
  .container
    %div{ class: t('dropdown.class'), data: { toggle: t('dropdown.item') } }
      =button_tag t('.find_by_department').capitalize, class: 'btn--ghost--inverse', type: 'button', data: { toggle: t('dropdown.parent_item') }

      .dropdown__content{data: { toggle: t('dropdown.content') } }
        %aside
          =link_to(t('dropdown.close').capitalize, '#', class: 'btn--close', data: { toggle: t('dropdown.parent_item') })
          %h2= t('.departments_bodies').capitalize
          %p= t('.departments_bodies_intro')
          %ol
            - @laying_bodies.each do |laying_body|
              %li
                =link_to(laying_body.try(:groupName), group_made_available_availability_types_laid_papers_path(laying_body.graph_id))

    %h2= t('.proposed_negative_title')
    %p= t('.proposed_negative_intro')
    %ol.list--pipe
      %li
        .card
          .card--details
            %h3
              =link_to('Proposed negative statutory instruments', work_packages_paper_type_current_path('proposed-negative-statutory-instruments'))

    %h2= t('.procedure_stage_title').capitalize.pluralize
    %p= t('.procedure_stage_intro')

    %h3= t('.objection_tabled_title').capitalize
    %p= t('.objection_tabled_intro')
    %ol.list--pipe
      %li
        .card
          .card--details
            %small= t('house_of_commons')
            %h3
              =link_to('Motion (prayer) to stop the instrument being law tabled', procedure_step_work_packages_current_path('5xTe6nwE'))
      %li
        .card
          .card--details
            %small= t('house_of_lords')
            %h3
              =link_to('Motion (prayer) to stop the instrument being law tabled', procedure_step_work_packages_current_path('xAb8mi2D'))

    %h3= t('.procedure_change_title').capitalize
    %p= t('.procedure_change_intro')
    %ol.list--pipe
      %li
        .card
          .card--details
            %small= t('house_of_commons')
            %h4
              =link_to('The European Statutory Instruments Committee (ESIC) recommended that the instrument should follow the affirmative procedure', procedure_step_work_packages_path('scSuvkup'))
      %li
        .card
          .card--details
            %small= t('house_of_lords')
            %h4
              =link_to('The Secondary Legislation Scrutiny Committee (SLSC) recommended that the instrument should follow the affirmative procedure', procedure_step_work_packages_path('GAGqPaSf'))

    %h3= t('.commmittee_concerns_title').capitalize
    %p= t('.commmittee_concerns_intro')
    %ol.list--pipe
      %li
        .card
          .card--details
            %small= t('both_houses')
            %h4
              =link_to('Concerns raised by the Joint Committee on Statutory Instruments (JCSI)', procedure_step_work_packages_current_path('VDT2CWL6'))
      %li
        .card
          .card--details
            %small= t('house_of_lords')
            %h4
              =link_to('Concerns raised by the Secondary Legislation Scrutiny Committee (SLSC)', procedure_step_work_packages_current_path('Kn7FknDd'))

    %h3= t('.debate_scheduled_title').capitalize
    %p= t('.debate_scheduled_intro')
    %ol.list--pipe
      %li
        .card
          .card--details
            %small= t('house_of_commons')
            %h4
              =link_to('Scheduled for a Chamber debate', procedure_step_work_packages_current_path('WdiOAL9I'))
      %li
        .card
          .card--details
            %small= t('house_of_lords')
            %h4
              =link_to('Scheduled for a Chamber debate', procedure_step_work_packages_current_path('bEzmXakv'))
      %li
        .card
          .card--details
            %small= t('house_of_commons')
            %h4
              =link_to('Scheduled for a Delegated Legislation Committee (DLC) debate', procedure_step_work_packages_current_path('M28y2NsI'))
      %li
        .card
          .card--details
            %small= t('house_of_lords')
            %h4
              =link_to('Scheduled for a Grand Committee debate', procedure_step_work_packages_current_path('uwTqgHE3'))

    %h2= t('.procedures_title').capitalize.pluralize
    %p= t('.procedures_intro')
    %ol.list--pipe
      %li
        .card
          .card__details
            %h3= link_to("#{t('.draft').capitalize} #{t('.affirmative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('H5YJQsK2'))
      %li
        .card
          .card__details
            %h3= link_to("#{t('.draft').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('gTgidljI'))
      %li
        .card
          .card__details
            %h3= link_to("#{t('.made').capitalize} #{t('.affirmative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('iWugpxMn'))
      %li
        .card
          .card__details
            %h3= link_to("#{t('.made').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('5S6p4YsP'))

    %h2= t('.all_si_pnsi_title')
    %p= t('.all_si_pnsi_intro')
    %ol.list--pipe
      %li
        .card
          .card__details
            %h3= link_to(t('.all_si_link').capitalize.pluralize, work_packages_paper_type_path('statutory-instruments'))
      %li
        .card
          .card__details
            %h3= link_to(t('.all_pnsi_link').capitalize.pluralize, work_packages_paper_type_path('proposed-negative-statutory-instruments'))
