- page_title = title("#{t('.statutory_instrument').capitalize.pluralize}")

.section--primary#content{ tabindex: "0" }
  .container
    %h1
      %span= page_title

    %p= t('.si_intro_a')
    %p= t('.si_intro_b')

%section
  .container
    %h2= t('.find_an_si').capitalize

    %ol.list--block
      %li
        .card
          .card__details
            %h3= link_to(t('.all_statutory_instruments').capitalize, work_packages_path)
      %li
        .card
          .card__details
            %h3= link_to("#{t('.draft').capitalize} #{t('.affirmative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('H5YJQsK2'))
      %li
        .card
          .card__details
            %h3= link_to("#{t('.draft').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('gTgidljI'))
      %li
        .card
          .card__details
            %h3= link_to("#{t('.made').capitalize} #{t('.affirmative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('iWugpxMn'))
      %li
        .card
          .card__details
            %h3= link_to("#{t('.made').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('5S6p4YsP'))

      %li
        .card
          .card__details
            %h3= link_to("#{t('.proposed').capitalize} #{t('.negative')} #{t('.statutory_instrument').pluralize}", procedure_work_packages_path('iCdMN1MW'))

%section
  .container
    %h2= t('.more_info').capitalize

    %ol.list--block
      %li
        .card
          .card__details
            %h3= link_to(t('.ukp_sis_link'), 'https://www.parliament.uk/about/how/laws/secondary-legislation/').html_safe
            %p= t('.ukp_sis_description')
