- title 'beta.parliament.uk Home page' # Special case of a title - home page

#content.hero{ tabindex: "0" }
  .container
    %h1= t('.title')
    %p= t('.new_website')
    %p= t('.follow_progress.blog', link: link_to(t('.follow_progress.blog_link'), 'https://pds.blog.parliament.uk/category/parliament-uk/')).html_safe

%section.section--major
  .container
    %h2.sr-only
      = t('.whats_on.title')
    %ol.list--block.list--3
      %li
        .list--details
          %h3= link_to(t('.mps.title'), mps_path)
          %p= t('.mps.description')
      %li
        .list--details
          %h3= link_to(t('.lords.title'), house_members_current_a_z_letter_path(Parliament::Utils::Helpers::HousesHelper.lords_id, 'a'))
          %p= t('.lords.description')
      %li
        .list--details
          %h3= link_to(t('.constituencies.title'), find_your_constituency_path)
          %p= t('.constituencies.description')
      %li
        .list--details
          %h3= link_to(t('.parties_and_groups.title'), house_parties_current_path(Parliament::Utils::Helpers::HousesHelper.commons_id))
          %p= t('.parties_and_groups.description')
      %li
        .list--details
          %h3= link_to(t('.guide_to_procedure.title'), 'https://beta.parliament.uk/collections/6i8XQAfD').html_safe
          %p= t('.guide_to_procedure.description')
